.header{
    background-image: radial-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8)),url(/public/image/netflix_wl.jpg);
    background-repeat: no-repeat;
    height: 85vh;
    width: 100%;
    background: ();
}
.navbar{
    padding: 5px 120px;
}
@media (max-width:820px) {
    .navbar{
        padding: 5px 40px;
    }
    
}
@media (max-width:600px) {
    .navbar{
        padding: 3px 20px;
    }

    
}